body{
    margin: 0;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header a{
    display: inline-block;
    
}

.navmenu{
    border: 1px solid white;
    border-radius: 5px;
}

.navmenu a{
    padding: 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.navborder{
    border-right: 1px solid white;
}